[Unit]
Description=PimVIII API - Plataforma de Streaming
After=network.target postgresql.service

[Service]
Type=notify
User=www-data
WorkingDirectory=/var/www/pimviii-api/PimVIII.Api
ExecStart=/usr/bin/dotnet /var/www/pimviii-api/PimVIII.Api/bin/Release/net8.0/publish/PimVIII.Api.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=pimviii-api
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_URLS=http://localhost:5000

[Install]
WantedBy=multi-user.target
